@import "../../styles//variables.scss";

.about__wrap {
  min-height: 50vh;
  position: relative;
}

.about-background {
  background: linear-gradient(#db2f2c, #a6404d);
  position: absolute;
  top: 0;
  clip-path: polygon(75% 0, 100% 0%, 100% 100%, 45% 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.about-content__wrap {
  text-align: left;
  font-size: 2vw;
}

.about-content-item__wrap {
  margin: 5vw auto;
  text-align: center;
  width: 80%;
  font-size: 3.5vw;
  background: white;
  padding: 4vw;
  border-radius: 10px;
}

.about-image__wrap {
  display: none;
}

.about-image {
  width: 100%;
}

@media #{$mq-small} {
  .about-content-item__wrap {
    margin: 5vw;
    width: 50%;
    font-size: 2vw;
    background: transparent;
    text-align: left;
    padding: 0vw;
  }

  .about-image__wrap {
    width: 30%;
    position: absolute;
    right: 5%;
    bottom: 0;
    display: block;
  }

  .about__wrap {
    min-height: 100vh;
    position: relative;
  }
}
